<%
let x = []
page.posts.each(function(post){
    if (x.indexOf(date(post.date, "YYYY")) == -1) x.push(date(post.date, "YYYY"))
})
%>

<section class="content">
  <h1>文章列表</h1>
  <div class="meta">本博客有 <%= site.posts.length %> 篇文章</div>

  <% for (let year of x ) { %>
    <h2><%= year %></h2>
    <ul class="archived-posts">
      <% page.posts.each(function(post) { %>
        <% if ((date(post.date, "YYYY")) === year ) { %>
          <li>
            <time><%= date(post.date, "MM.DD") %></time>
            <a href="<%- url_for(post.path) %>"><%= post.title %></a>
          </li>
      <% } else return }) %>
    </ul>
  <% } %>
</section>


