<header>
  <a href="<%= config.root %>" class="logo"><img src="<%- gravatar(theme.gravatar) %>" alt="<%= config.title %>"></a>
  <div class="description">
    <h1><%= config.title %></h1>
    <h2><%= config.description %></h2>
    <nav>
      <div class="bitcron_nav_container">
        <div class="bitcron_nav">
          <div class="mixed_site_nav_wrap site_nav_wrap">
            <ul class="mixed_site_nav site_nav sm sm-base">
              <% for(let name in theme.menu) { %>
                <li><%- link_to(theme.menu[name], name, {external: false, class: "selected active current nav__item"}) %></li>
              <% } %>
            </ul>
            <div class="clear clear_nav_inline_end">
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
